.navbar-text > a {
	color:inherit;
	text-decoration: none;
}

body {
	padding-top:70px;
	padding-bottom:100px;
	background-color: #E0E0E0;
}


.jumbotron {
  /* Aqui poner la ruta de la imagen del jumbotron (donde pone "Bienvenido a Social Sport") */
  background-image:   url('imagenes/header.png');
  font-family: myFirstFont;
}

P {
	font-family: 'Open Sans', sans-serif;
}

a.btn {
	font-family: 'Open Sans', sans-serif;
}
#font {
	font-family: 'Open Sans', sans-serif;
}
#seccion {
	font-family: 'Open Sans', sans-serif;
}
@font-face {
    font-family: myFirstFont;
    src: url('airstrikelaser.ttf');
}

.tituloPagina {
	color: red;
}
