body { 
	background:#ffffff;
	font-family: 'Noto Sans', sans-serif;
}

#busAmi{
	width: 650px;
}

/*nav css*/
.form-inline {
	padding-top: 10px;
	width: 100%;
}

.search-box1 {
	padding: 10px 0px;
	z-index: 99999;
	width: 100%;
}

.serach-footer {
	left: 20px;
	position: absolute;
	top: 10px;
}

.search-wrap {
	display: block;
	width: 100%;
	height: 30px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #e2e2e2;
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	width: 100% !important;
}

.search-btn {
	background: rgb(0, 4, 51);
	width: 50%;
	border-radius: 20px 20px 20px 20px;
	color: #fff !important;
	height: 30px;
	border: 0px solid;
	font-weight: 0;
	font-size: 12px;
}

.search-btn:hover, .search-btn:focus {
	background: rgb(0, 4, 51);
	color: #fff !important;
}

.modal-dialog {
	width: 90% !important;
	margin: 20% auto;
}

.modal-content { 
	background-color: #59B2E0;
}

.modal-title {
	color: #fff !important;
}
/*nav css close*/


.searhFriend {
	margin-top: 12%;
	margin-right: 110px;
}

.page-header {
	background: #ccc;
	margin: 0;
}

.profile-head { 
	display: block;
	width:100%;
	background-color: #59B2E0;
	float: left;
	padding: 15px 5px;
	border-radius: 6px;
}

.profile-head img { 
	height: 150px; 
	width: 150px; 
	margin: 0 auto; 
	border: 5px solid #fff; 
	border-radius: 5px;
}

.profile-head h5 {
	width: 100%;
	padding: 5px 5px 0px 5px;
	text-align: justify;
	font-weight: bold;
	color: #fff;
	font-size: 25px;
	text-transform: capitalize;
	margin-bottom: 0;
}

.profile-head p {
	width: 100%;
	text-align: justify;
	padding: 0px 5px 5px 5px;
	color: #fff;
	font-size:17px;
	text-transform:capitalize;
	margin: 0;
}

.profile-head a {
	width: 100%;
	text-align: center;
	padding: 10px 5px;
	color: #fff;
	font-size: 15px;
	text-transform: capitalize;
}

.profile-head ul { 
	list-style: none;
	padding: 0;
}

.profile-head ul li { 
	display: block; 
	color: #ffffff;
	padding: 5px;
	font-weight: 400;
	font-size: 15px;
}

.profile-head ul li:hover span { 
	color:rgb(0, 4, 51);
}

.profile-head ul li span { 
	color: #ffffff;
	padding-right: 10px;
}

.profile-head ul li a { 
	color: #ffffff;
}

.profile-head h6 {
	width: 100%;
	text-align: center;
	font-weight: 100;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.nav-tabs {
	margin: 0;
	padding: 0;
	border: 0;
}

.nav-tabs > li > a {
	background: #DADADA;
	border-radius: 6px;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
	background: #F5F5F5;
	padding: 10px 40px;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

.tab-pane {
	background: #ffffff;
	box-shadow: 0 0 4px rgba(0,0,0,.4);
	border-radius: 6px;
	text-align: center;
	padding: 10px;
}

.tab-paneEvent {
	width: 40%;
	background: #ffffff;
	box-shadow: 0 0 4px rgba(0,0,0,.4);
	border-radius: 6px;
	text-align: center;
	margin-right: 10%;
	padding: 10px;
}

.tab-content>.active {
	margin-top:15px;
	margin-bottom: 10px;
} 

/* edit profile css*/
.hve-pro {    
	background-color: #59B2E0;
	padding: 5px; 
	width: 100%; 
	height: auto;
	float: left;
	margin-left: 2%;
	border-radius: 6px;
}

.hve-pro p {
	color: #fff;
	font-size: 15px;
	text-transform: capitalize;
	padding: 5px 20px;
	font-family: 'Noto Sans', sans-serif;
}

h2.register { 
	padding: 10px 25px; 
	text-transform: capitalize;
	font-size: 25px;
	color: #59B2E0;
}

h2.Subtittle { 
	padding: 10px 25px; 
	text-transform: capitalize;
	font-size: 25px;
	color: #00;
}


.fom-main { 
	overflow:hidden;
}

legend {
	font-family: 'Noto Sans', sans-serif;
	color: #ff3200;
	border-bottom: 0px solid;
}

.main_form {
	background-color: transparent;
	width: 100%;
}

label.control-label {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 100; 
	margin-bottom: 5px !important; 
	text-align:center !important; 
	text-transform: uppercase; 
	color:#798288;
	width: 100%;
}

input.form-control {
	text-align: center;
}

textarea.form-control {
	text-align: left;
}

select.form-control {
	text-align: center;
}

.submit-button {
	color: #fff;
	background-color: rgb(0, 4, 51);
	width: 190px;
	border: 0px solid;
	border-radius: 0px; 
	transition: all ease 0.3s;
	margin: 5px;
	float:left;
}

.submit-button:hover, .submit-button:focus {
	color: #fff;
	background-color: #1CB94E;
}

.hint_icon {
	color: #ff3200;
}

.form-control:focus {
	border-color: #1CB94E;
}

select.selectpicker { 
	color: #99999c;
}

select.selectpicker option { 
	color: #000 !important;
}

select.selectpicker option:first-child { 
	color: #99999c;
}


.input-group { 
	width: 60%;
	margin: 0 auto;
}

.input-gs {
	width: 20%;
	margin: 0 auto;
}

#genero,#gratuito {
	width: 100%;
	text-align:left !important;
}

.uplod-picture {
	width: 100%; 
	background-color: #;
	color: #fff; 
	padding: 20px 10px;
	margin-bottom: 10px;
}

.uplod-file {
	position: relative;
	overflow: hidden;
	color: #fff;
	background-color: rgb(0, 4, 51);
	border: 0px solid #a02e09;
	border-radius: 0px;
	transition: all ease 0.3s;
	margin: 5px;
}

.uplod-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.uplod-file:hover, .uplod-file:focus {
	color: #fff;
	background-color: #1CB94E;
}

h4.pro-title { 
	font-size:24px; 
	color: rgba(0, 4, 51, 0.96); 
	text-transform: capitalize; 
	text-align: center;
	padding: 10px 15px;
	font-family: 'Noto Sans', sans-serif;
}

.bio-table { 
	width: 50%;
	border: 0px solid;
	margin: 0 auto;

}

.bio-table td {
	text-transform: capitalize;
	text-align: left;
	font-size: 15px;
}

.bio-table>tbody>tr>td { 
	border: 0px solid;
	text-transform: capitalize;
	color: rgb(0, 4, 51); 
	font-size: 15px;
}

.responsiv-table { 
	border:0px solid;
}

.nav-menu li a {
	margin: 5px 5px 5px 5px;
	position: relative;
	display: block;
	text-align: center;
	padding: 10px 30px;
	border: 0px solid !important;
	box-shadow: none !important;
	background-color: rgb(0, 4, 51) !important;
	color: #fff !important;    
	white-space: nowrap;
}

.nav-menu li.active a {
	background-color: #1CB94E !important;
}

.stick{
	position: fixed !important;
	top: 0;
	z-index: 999 !important;
	width: 100%;
	background: #ffffff !important;
	height: auto; 
	transition: all ease 0.8s;
	-webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
}

.stick a { 
	line-height: 20px !important;
}

.stick img { 
	margin:0 !important;
}

@media all and (max-width:1200px){
	.search-btn {
		width: 70%;
	}
	#busAmi{
		width: 500px;
	}
}


@media all and (max-width:1000px){
	.search-btn {
		width: 100%;
	}
	#busAmi{
		width: 450px;
	}
}

@media all and (max-width:950px){
	.search-btn {
		width: 100%;
	}
	#busAmi{
		width: 300px;
	}
}

@media all and (max-width:768px){
	.search-btn {
		width: 100%;
	}
	#busAmi{
		width: 300px;
	}

	.navbar-inverse .drop_menu {
		display: block;
		visibility: visible;
		width: 110px;
		height:1000px;
		padding:0px 20px;
		position: absolute;
		right:-100px;
		transition: all ease 0.5s;
		border-top: 0px solid;
		cursor: pointer;
	}

	.searhFriend {
		margin-right: 0;
		margin-left: 38%;
	}

	#perfilInfo {
		margin-right: 0;
		margin-left: 28%;
	}

	.hve-pro {
		margin-left: 0;
	}

	.navbar-brand {
		padding: 15px;
		margin-left: 10px !important;
	}

	a.menu { 
		display: block !important;
		margin: 9px 2px;
		float: right;
		color: rgba(255, 102, 0, 0.98); 
		border: 0px solid; 
		background: none; 
		font-size: 30px;
		width: 27px;
		position: relative;
		cursor:pointer;
	}

	a.menu:hover, a.menu:focus { 
		color: rgb(0, 4, 51);
	}

	.drop_menu1 { 
		display: block;
		visibility: visible;
		width: 250px;
		height: 1000px;
		padding: 5px 30px;
		position: absolute;
		right:0 !important;
		background-color: #ffffff !important; 
		transition: all ease 0.5s;
		border-top: 0px solid;
		cursor: pointer;
	}

	.input-group { 
		width: 100%;
		margin: 0 auto;
	}

	.input-gs {
		width: 60%;
		margin: 0 auto;
	}
}
@media all and (max-width:760px){
	.search-btn {
		width: 100%;
	}
	#busAmi{
		width: 750px;
	}
}
@media all and (max-width:730px){
	.search-btn {
		width: 100%;
	}
	#busAmi{
		width: 720px;
	}
}

@media all and (max-width:700px){
	.search-btn {
		width: 100%;
	}
	#busAmi{
		width: 700px;
	}
}
@media all and (max-width:650px){
	.search-btn {
		width: 100%;
	}
	#busAmi{
		width: 600px;
	}
}
@media all and (max-width:520px){
	.search-btn {
		width: 100%;
	}
	#busAmi{
		width: 500px;
	}
}

@media all and (max-width:430px){
	.search-btn {
		width: 100%;
	}
	#busAmi{
		width: 390px;
	}

	.profile-head ul li {
		font-size: 12px !important;
	}

	.searhFriend {
		margin-right: 0;
		margin-left: 28%;
	}

	#perfilInfo {
		margin-right: 0;
		margin-left: 16%;
	}

	.input-group { 
		width: 100%;
		margin: 0 auto;
	}

	.input-gs {
		width: 50%;
		margin: 0 auto;
	}

	.hve-pro {
		margin-left: 0;
	}

	.nav-menu li { 
		width: 50%;
	}

	.bio-table>tbody>tr>td {
		font-size: 13px;
	}
}

@media all and (max-width:400px){
	.search-btn {
		width: 100%;
	}
	#busAmi{
		width: 350px;
	}
	#perfilInfo {
		margin-right: 0;
		margin-left: 10%;
	}

	.searhFriend {
		margin-right: 0;
		margin-left: 18%;
	}

	.nav-menu li a {
		font-size: 11px;
	}
}
@media all and (max-width:320px){
	.search-btn {
		width: 100%;
	}
	#busAmi{
		width: 300px;
	}
}